body {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: Athelas;
    background-color: whitesmoke;
    /* background: floralwhite, seashell, lightcyan, snow, peachpuff, whitesmoke, honeydew, lavenderblush */
}

blockquote {
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-style: italic;
    color: #59402D;
    background-color: #fff3cd;
    border-color: #c9ba9b;
}
